@tailwind base;
@tailwind components;
@tailwind utilities;

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  background-color: black;
  color: white;
  font-family: system-ui, -apple-system, sans-serif;
}

/* ROOT */
#root {
  width: 100%;
  min-height: 100vh;
}

/* INPUT STYLING */
input, select {
  outline: none;
  border: none;
}

/* BUTTON */
button {
  cursor: pointer;
}